/* topbar*/

.topbar {
    height: 50px;
    background: #f34111;
}

.topbar-left,
.topbar-right {
    width: 100%;
}

.topbar-left ul {
    display: flex;
    list-style-type: none;
    float: left;
    line-height: 50px;
}

.topbar-right ul {
    display: flex;
    list-style-type: none;
    float: right;
    line-height: 50px;
}

.topbar-left li a,
.topbar-right li a {
    text-decoration: none;
    color: white;
}

.topbar-right li,
.topbar-left li {
    margin: 0 10px;
}


/* end topbar*/

@media screen and (max-width: 480px) {
    .topbar-left {
        display: none;
    }
    .topbar-right {
        display: flex;
        list-style-type: none;
        float: right;
        width: 100%;
        line-height: 50px;
    }
    .hethong {
        display: none
    }
    .topbar-right ul {
        display: flex;
        list-style-type: none;
        float: right;
        margin-left: 5.4em;
        line-height: 50px;
    }
}

@media screen and (min-width:481px) and (max-width:767px) {
    .topbar-left {
        display: none;
    }
    .topbar-right ul {
        float: right;
    }
}

@media screen and (min-width:768px) {
    .topbar-left ul {
        width: 50%;
        float: left;
        color: white;
    }
    .topbar-right ul {
        float: right;
    }
}

.header {
    width: 100%;
    height: 93px;
    background: #ff5622;
}

.logo {
    width: 30%;
    padding: 0px 96px;
    float: left;
}

.timkiem {
    width: 40%;
    float: left;
    line-height: 32px;
    margin: 13px 10px;
}

.timkiem form input {
    width: 85%;
}

.giohang {
    width: 28%;
    line-height: 17px;
    float: left;
    margin-top: 13px;
}

.goidien {
    color: white;
    float: left;
    padding-left: 7%;
    font-family: initial;
}

.goidien a {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.dathang {
    color: white;
    width: 100%;
    padding-left: 52%;
    font-family: initial;
}

.dathang a {
    color: white;
    font-size: 20px;
}

@media screen and (max-width:480px) {
    .header {
        height: 148px;
    }
    .logo {
        width: 100%;
        padding: 0px 81px;
        float: left;
    }
    .giohang {
        width: 50%;
        margin: 0px 50%;
        position: absolute;
    }
    .goidien {
        display: none;
    }
    .timkiem {
        width: 100%;
        padding: 5.4em 4%;
        position: absolute;
    }
    .timkiem form input {
        max-width: 83%;
    }
}

@media screen and (min-width: 481px) and (max-width:767px) {
    .header {
        height: 148px;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .giohang {
        width: 50%;
        margin: 16px 50%;
        position: absolute;
    }
    .goidien {
        display: none;
    }
    .timkiem {
        width: 100%;
        padding: 5.4em 1.4%;
        position: absolute;
    }
    .timkiem form input {
        max-width: 90%;
    }
}

@media screen and (max-width: 1064px) {
    .header {
        height: 148px;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .timkiem {
        width: 100%;
        padding: 5.4em 1.4%;
        position: absolute;
    }
    .timkiem form input {
        width: 92.5%;
    }
    .email {
        display: none;
    }
    .giohang {
        width: 50%;
        margin: 16px 50%;
        position: absolute;
    }
    .goidien {
        display: none;
    }
}

@media screen and (min-width:1065px) {
    .giohang {
        width: 28%;
        line-height: 17px;
        float: left;
        margin-top: 13px;
    }
    .goidien {
        color: white;
        float: left;
        padding-left: 7%;
        font-family: initial;
    }
    .goidien a {
        color: white;
        font-size: 20px;
    }
    .dathang {
        color: white;
        width: 100%;
        padding-left: 52%;
        font-family: initial;
    }
    .dathang a {
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
}


/*            


/* .content{
   width: 70%;
   float: left;
   background: yellow;
   height:300px;
}
.sitebar{
   width:30%;
   float:left;
   background: blue;
   height:300px;

}
.footer{
   clear: left;
   background: red;
   height:100px;

}

@media screen and (min-width: 481px){
        .content{
   width: 50%;
   float: left;
   background: yellow;
   height:300px;
}
.sitebar{
   width:50%;
   float:left;
   background: blue;
   height:300px;

}
.footer{
   clear: left;
   background: red;
   height:100px;

}
}

@media screen and (max-width: 480px){
   .header{
       display: none;              }
   .content{
       width: 100%;
   }
   .sitebar{
       width: 100%;

   }   
}


@media screen and (min-width:768px){
   .content{
       width: 70%;
   }
   .sitebar{
       width:30%;

   }      

}

.container{

} */